@import '~antd/dist/antd.css';

.icons:hover {
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 1px blue;
    color: red;
}

.newForm4{
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #FEA283;
    /* margin: 1em; */
    border-radius: 50%;
    text-align: center;
}

.imageMainStringSearch {
    position: relative;
    text-align: center;

}


/*
.parallax{
    background-image: url("./images/imagesPixabel/example.jpg");
    padding-top: 200px;
    min-height: 621px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
} */

.deleteButton {
    background-color: red;
    color: white;
    font-size: 16px;
}


.deleteButton:hover {
    background-color: yellow;
    color: black;
    font-size: 16px;
}


.backgroundDelete {
    /* background-image: url("./images/imagesPixabel/eight.webp"); */
    color: white;
    font-size: 16px;

}

